
body{
	
background-color: cyan;
box-sizing: border-box;
 display: flex;
 justify-content: center;
 
height: 100vh; 
align-items: center;
}


.container {
width: 30vw;
background-color: yellow;
padding: 10px;
}



.currency {
padding: 6px;
}


.swap-rate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px;

}

